# ds-challenge-05_seattle-ds-career-040119

## Plotting Attendance

### 0. Getting Started

Start by forking this repo and cloning your fork to your computer.

### 1. Business Understanding

You want to understand when your cohort typically arrives on campus.

### 2. Data Understanding

Each of you has access to an attendance spreadsheet that now contains five days of arrival times for you and your colleagues.

### 3. Data Preparation

#### 3(a) Load the data

* Create a Jupyter Notebook.

* Load the arrival time data into Pandas from `data.csv`. 

* Decide how to deal with any missing values in the data.

#### 3(b) Visualize the data

* Create some visualizations of the attendance data. Note that it can be grouped by day or aggregated together.

* At least one of your visualizations _must_ be a histogram.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data.csv',header = None)

In [4]:
df.head()

         0        1        2        3        4        5
0  8:56 AM  9:00 AM  7:45 AM  7:45 AM  8:05 AM  7:45 AM
1  8:40 AM  8:40 AM  8:30 AM  8:30 AM  8:45 AM  8:20 AM
2  8:45 AM  8:20 AM  8:05 AM  8:00 AM  8:05 AM  8:00 AM
3  8:40 AM  8:40 AM  8:40 AM  8:25 AM  8:40 AM  8:40 AM
4  8:55 AM  8:50 AM  8:55 AM  8:10 AM  8:15 AM  8:05 AM

In [5]:
df = df.rename(columns = {0:'monday',
                    1:'tuesday',2:'wednesday',3:'thursday',4:'friday',5:'monday_week_2'})

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
monday           23 non-null object
tuesday          23 non-null object
wednesday        23 non-null object
thursday         23 non-null object
friday           23 non-null object
monday_week_2    23 non-null object
dtypes: object(6)
memory usage: 1.2+ KB

In [9]:
df.loc[7,'monday']= 0

In [10]:
print(df.loc[7,'monday'])

0